.footer-main {
    background: linear-gradient(to bottom, #c0e7f769, #dabaf052);   
    color: #FFFFFF;
    padding: 40px 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* max-width: 1200px; */
    padding: 40px;
    margin: auto;
}

.logo, .navigation, .utilities, .subscribe {
    width: 13%;
    min-width: 250px;
    margin-bottom: 20px;
    text-align: left;
}

h4 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #000000;
}

p, ul {
    font-size: 14px;
    line-height: 1.6;
    color: #000000;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}


.subscription {
    text-align: center;
    width: 30%;
    min-width: 300px;
}

.subscription h4 {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    /* margin-bottom: 15px; */
}

.subscribe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    width: 100%;
}

.subscribe input {
    flex: 1;
    padding: 10px;
    border: none;
    background: transparent;
    font-size: 14px;
    color: #333;
    outline: none;
}

.subscribe input::placeholder {
    color: #888;
}

.subscribe .sub-btn {
    background: #159cf7;
    border: none;
    padding: 12px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    color: #ffffff;
}

.sub-btn:hover {
    background: #005bb5;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}


.right-socials {
    width: 99%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

.right-socials p {
    font-size: 14px;
    margin-bottom: 10px;
}

.social-icons {
    width: 10%;
    display: flex;
    justify-content: end;
    gap: 15px;
    color: #000000;
}

.social-icon {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    color: #000000;
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
}

.social-icon:hover {
    transform: scale(1.2);
}

.rights {
    display: flex;
    justify-content: center;
    width: 89%;
    left: 70px;
    position: relative;
}