.footer-main {
    background: linear-gradient(to bottom, #c0e7f769, #dabaf052);   
    color: #FFFFFF;
    padding: 40px 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.logo, .navigation, .utilities, .subscribe {
    width: 23%;
    min-width: 250px;
    margin-bottom: 20px;
}

h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #000000;
}

p, ul {
    font-size: 14px;
    line-height: 1.6;
    color: #000000;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}


.subscribe input {
    width: 100%;
    padding: 8px;
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #FFFFFF;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
}
.subscribe {
    display: flex;
    height:5vh;
}
.sub-btn {
    height: 4vh;
}
.subscribe .sub-btn {
    background-color: #159cf7;
    color: #FFFFFF;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.rite-socials {
    width: 99%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

.rite-socials p {
    font-size: 14px;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    color: #000000;
}

.social-icon {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    color: #000000;
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
}

.social-icon:hover {
    transform: scale(1.2);
}
