.questions-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #c0e7f769, #dabaf052);  
    color: #555 ;
    padding: 50px 20px;
    text-align: center;
  }
  
  .q-top {
    width: 100%;
    display: flex
;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
  .q-top h5 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #159cf7 ;
  }
  
  .q-top h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .q-top span {
    color: #159cf7;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .q-top p {
    font-size: 1.1rem;
    max-width: 800px;
    margin-bottom: 30px;
    color: #555;
  }
  
  .q-content {
    width: 100%;
    max-width: 800px;
  }
  
  .faq-item {
    background-color: white;
    color: #159cf7;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .faq-item:hover {
    transform: translateY(-5px);
  }
  
  .faq-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #555;
  }
  
  .faq-item p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
  }
  .faq-card {
    background-color: white;
    color: #159cf7;
    border-radius: 10px;
    padding: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .faq-card:hover {
    transform: translateY(-5px);
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .arrow {
    font-size: 2.5rem;
    color: #555;
    transition: transform 0.3s ease;
  }
  
  .faq-item:not(:last-child) {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
  }
  