.subscription-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #ffffff;
    padding: 20px;
}

.subscription-main-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 12px;
    width: 70%;
    max-width: 2000px;
    overflow: hidden;
    gap: 50px;
}

.subscription-container {
    flex: 1;
    padding: 40px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logoipsum h3 {
    color: #159cf7;
    font-size: 24px;
    font-weight: bold;
}

.logoipsum h2 {
    color: #000000;
    font-size: 26px;
    margin: 10px 0;
}

.logoipsum p {
    font-size: 16px;
    color: #686868;
}

.bill {
    margin-top: 20px;
    color: #686868;
}

.bill label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 8px 0 4px;
}

.bill input {
    width: 97%;
    padding: 20px;
    border: #ddd;
    background-color: #dfdedeb0;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.bill input:hover {
    border: 2px solid #159cf7;
    transform: translateY(-3px); 
    transition: all 0.2s ease-in-out;
}

.input-container {
    position: relative;
    width: 100%;
}

.input-container input {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    padding: 12px 15px 12px 40px; 
    border-radius: 6px;
    border: #ddd;
    font-size: 16px;
    background-color: #dfdedeb0;
}

.card-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    pointer-events: none;
}


.expire {
    width: 100%; 
    display: flex;
    gap: 50px; 
}

.expire-field {
    display: flex;      
    flex-direction: column;
    flex: 1;
}

.expire-field input {
    margin-top: 5px;
}

.subscribe-btn {
    width: 100%;
    background-color: #0f7ad1;
    color: white;
    padding: 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s ease;
    margin-top: 20px;
    text-align: center;
}

.subscribe-btn:hover {
    background: #005bb5; 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); 
    transform: translateY(-3px); 
    transition: all 0.3s ease-in-out;
}

.subscription-btn p {
    font-size: 12px;
    margin-top: 10px;
    color: #686868;
}

.subscription-planning {
    flex: 1;
    padding: 40px 30px; 
    background-color: white;
    color: #686868;
    background: linear-gradient(to bottom, #c0e7f769, #dabaf052);   
    border-radius: 12px; 
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease-in-out; 
}


.subscription-plan h4 {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 15px;
    text-align: center; 
    letter-spacing: 1px; 
}

.starter-plans {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    justify-content: center;
    align-items: center;
}

.plans {
    display: flex;
    border: 2px solid #686868;
    border-radius: 12px;
    align-items: center;
    width: 100%;
    transition: transform 0.2s ease-in-out; 
    cursor: pointer; 
    color: #fff;
    background-color: #fff;
}

.plans:hover {
    transform: translateY(-3px); 
    border-color: #159cf7; 
    background-color: transparent;
}
.p-texts {
    display: flex;
    flex-direction: column;
    margin-left: 15px; 
}

.p-one {
    font-size: 18px; 
    font-weight: bold;
    color: #000000;
}

.p-two {
    font-size: 16px;
    color: #686868;
    margin-top: 5px; 
}
.border {
    margin: 20px 0;
    border-bottom: 3px solid #ffffff;
}

.subscription-features h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.subscription-features ul {
    list-style: none;
    padding: 0;
}

.subscription-features li {
    font-size: 16px;
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.subscription-features li::before {
    content: "✔";
    color: #159cf7;
    font-weight: bold;
    margin-right: 8px;
}